*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.3333%;
}

.col-full{
    width: 100%;
}

/*main*/
#main{
/* overflow-x: hidden; */
}

.clear {
    clear: both;
}

#header{
height: 46px;
background-color: black; 
position: fixed ;
top: 0;
left: 0;
right: 0;
z-index: 1;
}

#nav{

}

#nav li a {
  
   line-height: 46px;
   text-decoration: none;
   padding: 0px 24px;
    display: block;
    
}

#nav li:hover .subnav {
    display: block;
}

#nav>li>a {
     color: #fff;
     text-transform: uppercase;
}

#nav .subnav a {
    color: black;
    padding: 0px 50px 0px 12px;
    line-height: 38px;
}


#nav >li:hover >a,#nav .subnav li:hover{
    color:#000;
    background-color: #ccc;
}

#nav, .subnav {
    list-style-type: none;
}

#nav>li {
       display: inline-block;
}

#nav li {
    position: relative;
 
}

#nav .subnav {
    top: 100%;
    left: 0;
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0 ,0 ,0, 0.3);
}

#nav .nav-arrow-down {
font-size: 10px;
}

#nav{
    display: inline-block;
}

#header .mobile-menu-button{
  display: none;
    position: absolute;
    top: 0px;
    right: 0px;
}

#header .mobile-menu-button,
#header .search-button {
    float: right;
}

#header .menu-btn ,
#header  .search-btn {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
 
}

#header .search-btn:hover{
    background-color: #f44336 ;
    display: block;
    cursor: pointer;
}

#header .menu-btn:hover{
    background-color: #ccc ;
    display: block;
}

#header .menu-btn:hover{
    color: black;
}
/*slider*/
/* #slider .slider0-img{
    margin-top: 46px;
    padding-top: 50%;

} */
#slider{
    margin-top: 46px;
    padding-top: 50%; 
    background: url('/assets/css/img/slider/slider\ 1.jpg') 
    bottom center/ cover no-repeat;
    position: relative; 
    margin-right: 0%;
}

#slider .text-content{
    color: whitesmoke;
    position: absolute;
    bottom: 48px;
    padding: 16px 32px;
    /*left: 50%;
    transform: translateX(-50%);*/
    text-align: center; 
    width: 100%;
 /*   left: 0;
    right: 0;*/
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 12px;
    margin-top: 25px;
}



/*content*/

#content{

}

#content .section-content{
    padding: 64px 0px ;
    /*padding : 64px 16px thì ở dưới k cần pr:16 pl:16 nữa*/
    margin-left: auto;
    margin-right: auto;
    Box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    width: 800px;
    max-width: 100%;

}

#content .section-header {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 500;
    margin: 10px 0;
}

#content .section-sub-heading {
    margin: 15px 0px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .section-header ,
#content .section-sub-heading {
    text-align: center;
    margin: 15px 0;
}

#content .about{
    text-align: justify;
    margin: 15px 0px;
    font-size: 15px;
    line-height: 1.4; /* tiếng việt thường là 1.6*/
}

#content .text-center {
    float: left ;
    /* padding: 32px 0px; */
     text-align: center;

}
#content .member-list{
    padding: 32px 0 ;
}
#content .member-name{
   
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 5px;
}

/*tour section*/

#content .tour-section {
    background-color: black;
    color: white;
 
}

#content .tour-section .ticket-list{
     list-style-type: none;
     background-color: white;
     color: black;
     margin-top:40px;
   
}   

.ticket-list li{
    padding: 11px 16px;
    font-size: 15px;
    border-bottom:  solid 1px #ddd;
    color: #757575;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    background-color:#000;
    color: #fff;
    border-radius: 50%;
    padding: 0 8px;
    float: right;
    margin-right: 16px;
    line-height:1.5;
}
/*place-ticket*/

.place-list{
    margin-top: 32px; 
    padding-bottom: 48px;
    
}
.place-item{  
    width: calc(100%/3);
    
}
.place-img{
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    color: black;
    padding: 0.15px 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    margin: 15px 0px;
    font-weight: 600;
}
.place-time{
    
    margin: 15px 0px;
    opacity: 0.6;
}
.place-description{
    line-height: 1.4;
    margin: 15px 0px;
}
.buy-btn{
    border: none;
    display: inline-block;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    margin: 0px 0px 16px;
}

.buy-btn:hover {
    color: black;
    background-color: #ccc;
}

/*contact form*/

.contact-content{
    padding: 32px 0px;
  
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block   ;
    
}

.contact-form {
    font-size: 18px;
 
}

.form-control{
    padding: 10px 0;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 8px;
}

.send-btn{
    margin: 16px 0;
    background-color: black;
    color: white;
    float: right;
    padding: 8px 16px;
    font-size: 15px;
    border: none;
    display: inline-block;
    margin-right: 8px;
    -webkit-appearance:none;
}

.send-btn:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}
.send-control{
    font-size: 16px;
}


/*map section*/

.map-section img {
width: 100%;
}

   

/*footer section */

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover ,
#footer .social-list a:hover{
    color: rgba(0 ,0 ,0, 0.3);
}

#footer .copyright{
    font-size:15px ;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.open{
    display: flex;
}

.modal-container{
    max-width: calc(100% - 32px);
    min-height: 200px;
    width: 900px;
    background-color: #fff ;
    position: relative;
    animation: slideDown ease-out .3s;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px;
    color: #fff;
    line-height: 15px;
}

.modal-close:hover {
    cursor: pointer;
    opacity: 0.7;
}

.modal-header-close{
    font-size: 14px;
}

.modal-header{
    display: flex;
    background-color: #009688;
    height: 129px;
    font-size: 30px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.modal-bag-icon{
    margin-right: 16px;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    margin-bottom: 16px;
    border-radius: 2px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
}

#buy-ticket{
    width: 100%;
    background-color: #009688;
    border: 0;
    height: 48px;
    padding: 12x;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer{
    padding: 16px 16px 32px 16px;
    text-align: right;
}

.modal-help-link{
    color: #2169F3;
}

@keyframes slideDown{
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}